.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-form-1 {
  height: 207px;
  background-image: none;
  width: 1106px;
  margin: 44px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  padding: 8px 30px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.375em;
  vertical-align: -2px;
  margin-right: 4px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  margin: -71px auto 0 290px;
  padding: 8px 30px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.375em;
  margin-right: 4px;
}

.u-section-1 .u-group-1 {
  width: 1117px;
  min-height: 228px;
  margin: 70px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 26px 13px;
}

.u-section-1 .u-text-1 {
  margin: 0 17px;
}

.u-section-1 .u-text-2 {
  margin: 9px 17px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 21px auto 0 17px;
  padding: 2px 17px 3px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.625em;
  vertical-align: -3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}