.u-section-1 .u-sheet-1 {
  min-height: 1078px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 44px auto 0 287px;
  padding: 11px 43px 11px 42px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: -43px 297px 0 auto;
  padding: 10px 43px 11px;
}

.u-section-1 .u-text-1 {
  margin: 46px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1048px;
  margin: 46px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 316px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-1 .u-image-1 {
  height: 249px;
  width: 375px;
  margin: 32px auto 0 89px;
}

.u-section-1 .u-group-1 {
  width: 416px;
  min-height: 240px;
  height: auto;
  margin: -244px 47px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 125px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 19px 202px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 87px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 97px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
    width: 323px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 323px;
    margin-top: -209px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 109px;
  }
}